body {
    /* #A10000 with 30% opacity */ 
    background: rgba(161, 0, 0, 0.3); 
    padding-bottom: 64px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header-image {
    box-sizing: border-box;
    margin: 0 auto;
    height: 500px; /* Fixed height for header image */
    width: 100%; /* Note to self: This makes the image responsive */
    max-width: 1280px; /* Limit the max width to match main content */
    border: 1px solid #FCFCFC;
    object-fit: cover; /* Note to self, from Robert - Cover the area, crop if needed, keep the center visible */
    display: block;
}

main {
    box-sizing: border-box;
    background: #fff;
    max-width: 1280px;
    margin: 0 auto;
    padding: 48px 48px 64px;
}

h1 {
    color: #A10000;
    font-weight: 700;
    font-size: 28px;
    padding: 0;
    margin: 0;
    width: 100%;
}

h2 {
    color: #000;
    font-weight: 700;
    font-size: 24px; /* Slightly smaller than h1 for hierarchy */
    line-height: 33px;
}

.lead {
    background-color: #EBEBEB;
    padding: 16px;
}

/* b is used to denote importance/semanticly, not for bolding */
.lead b {
    font-weight: normal;
}

li {
    line-height: 32px;
}

.figure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
}

figure {
    margin: 0;
    max-width: 580px;
    width: 100%;
    height: 467px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Accessibility: Skip link, move it off-screen when not focused */
.skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
    overflow: hidden;
}       

.skip-link:focus {
    position: static; /* Bring it back into view */
}

/* Responsive padding for main on smaller screens (phones),
 * Google seems to suggest 767px is "most phones"... */
@media (max-width: 767px) {
    main {
        padding: 48px 16px;
    }
}